/* Cart.module.css */

.cartContainer {
  margin: 20px; /* Reducido el margen para un aspecto más compacto */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100vw;
}

.cartHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

.cartItems {
  list-style: none;
  padding: 0;
}

.cartItem {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.cartItem span {
  display: block;
  margin-bottom: 5px;
}

.cartTotal {
  font-size: 18px;
  margin-top: 20px;
}

.cartButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.clearCartButton,
.checkoutLink {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.clearCartButton:hover,
.checkoutLink:hover {
  background-color: #0056b3;
}

.clearCartButton {
  margin-right: 10px;
}

.checkoutLink {
  margin-right: 1500px;
}
