/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Color de fondo gris claro */
}

.container {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #343a40; /* Fondo gris oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  margin: 0 15px;
  font-size: 16px;
}

.navbar a:hover {
  color: #007bff; /* Azul al pasar el ratón */
}

/* Estilos para el contenido principal */
.main-content {
  padding: 20px;
}

/* Estilos para los mensajes de notificación (si es aplicable) */
.notification {
  background-color: #28a745; /* Verde */
  color: #fff; /* Texto blanco */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Estilos para el carrito y la página de checkout */
.cart-container,
.checkout-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd; /* Borde gris */
  border-radius: 8px;
}

/* Estilos para el pie de página (si es aplicable) */
.footer {
  background-color: #343a40; /* Fondo gris oscuro */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
